cycler==0.10.0
decorator==4.4.0
freeze==1.0.10
imageio==2.5.0
jupyter==1.0.0
kiwisolver==1.0.1
git+git://github.com/Lasagne/Lasagne@8b667377933e48b20ed8ad963a942d3de377ff41
matplotlib==3.0.3
networkx==2.3
numpy==1.13.0
Pillow==6.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
PyWavelets==1.0.3
scikit-image==0.15.0
scipy==1.2.1
six==1.12.0
Theano==0.8.2
